body {
	background-color: #f5f6f7;
	text-align: center;
}

.sel {
	padding: 6px;
	width: 92px;
	height: 30px;
	font-size: 12px;
	margin-left: 660px;
	margin-top: 5px;
	appearance: none;
	-webkit-appearance: none;
	background: #ffffff url(../images/arrow.gif) 100% 50% no-repeat;
	background-size: 20px 8px;
	width: 92px;
}

form {
	margin-top: 20px;
	margin-bottom: 33px;
}

.id {
	width: 450px;
	height: 40px;
	padding: 3px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.pw {
	width: 450px;
	height: 40px;
	padding: 3px;
}

input.id:focus {
	outline: 0.5px solid #1fbc02;
}

input.pw:focus {
	outline: 0.5px solid #1fbc02;
}

button {
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 200px;
	padding-left: 200px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: white;
	background-color: #1fbc02;
	border: none;
	font-size: 20px;
	color: white;
}

hr {
	border: none;
	height: 1px;
	color: #e4e4e4;
	background-color: #e4e4e4;
	margin-top: 10px;
	margin-bottom: 12px;
	width: 460px;
}

.f_id {
	border-right: 1px solid #e4e4e4;
	padding-right: 5px;
	font-size: 11.5px;
	letter-spacing: 0.05em;
}

.f_pw {
	font-size: 11.5px;
	letter-spacing: 0.05em;
}

.signup {
	border-left: 1px solid #e4e4e4;
	font-size: 11.5px;
	padding-left: 5px;
	letter-spacing: 0.05em;
}

a:link {
	color: #8e8e8e;
	text-decoration: none;
}

a:visited {
	color: #8e8e8e;
}

.secure {
	margin-top: 10px;
}
